<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="org.Framework.TestUtils.Listeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" thread-count="5" name="End To End Framework Test">
        <classes>
            <class name="org.Framework.pageObjects.android.eCommerce_tc4_Hybrid"> </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" thread-count="5" name="Error Validations Test">
        <classes>
            <class name="org.Framework.pageObjects.android.eCommerce_tc_2"> </class>
        </classes>
    </test>
</suite>